<header>
  <div class="header header-center">
    <a href="/">
      <div class="header-logo">
        <p class="main-logo">Heart Share</p>
      </div>
    </a>
  </div>
  <div class="header-string">
    <p>
      自分の想っていることをアウトプットして、<br>
      やりたいことを具体化していこう♪
      アウトプットしている記事を参考にして、<br>
      新しい考えも取り入れよう♪
    </p>
  </div>
</header>
