<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <div class="header header-center">
        <a href="index.html">
          <div class="header-logo">
            <p class="main-logo">Heart Share</p>
          </div>
        </a>
      </div>
      <div class="header-string">
        <p>
          自分の想っていることをアウトプットして、<br>
          やりたいことを具体化していこう♪
          アウトプットしている記事を参考にして、<br>
          新しい考えも取り入れよう♪
        </p>
      </div>
    </header>
    <main class="main">
      <div class="sign-up-box">
        <div>
          <p>ニックネーム</p>
          <input type="text" class="sign-up-box-list" placeholder="ニックネームを入力してください">
        </div>
        <div>
          <p>Email</p>
          <input type="text" class="sign-up-box-list" placeholder="Emailを入力してください">
        </div>
        <div>
          <p>パスワード</p>
          <input type="password" class="sign-up-box-list" placeholder="パスワードを入力してください">
        </div>
        <div>
          <p>パスワード(確認用)</p>
          <input type="password" class="sign-up-box-list" placeholder="パスワードを入力してください">
        </div>
        <div>
          <p>投稿した記事一覧</p>
          <ul>
            <a href="#">
              <li class="heart-list">
                <div class="heart-list-main">
                  <p class="heart-title">タイトル</p>
                  <p class="heart-child-category">子カテゴリー</p>
                </div>
                <p class="heart-nickname">投稿者名</p>
              </li>
            </a>
            <a href="#">
              <li class="heart-list">
                <div class="heart-list-main">
                  <p class="heart-title">タイトル</p>
                  <p class="heart-child-category">子カテゴリー</p>
                </div>
                <p class="heart-nickname">投稿者名</p>
              </li>
            </a>
            <a href="#">
              <li class="heart-list">
                <div class="heart-list-main">
                  <p class="heart-title">タイトル</p>
                  <p class="heart-child-category">子カテゴリー</p>
                </div>
                <p class="heart-nickname">投稿者名</p>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p>著作権とか</p>
    </footer>
  </body>
</html>