<header>
  <div class="header">
    <a href="/">
      <div class="header-logo">
        <p class="main-logo">Heart Share</p>
      </div>
    </a>
    <div class="header-menu">
      <div class="user-menu">
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-menu-list" %>
          <%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-menu-list" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "user-menu-list" %>
          <%= link_to "新規登録", new_user_registration_path, class: "user-menu-list" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="header-string">
    <p>
      自分の想っていることをアウトプットして、<br>
      やりたいことを具体化していこう♪
      アウトプットしている記事を参考にして、<br>
      新しい考えも取り入れよう♪
    </p>
  </div>
</header>
