<header>
  <div class="header header-center">
    <a href="/">
      <div class="header-logo">
        <p class="main-logo">Heart Share</p>
      </div>
    </a>
  </div>
  <div class="header-string">
    <p>
      自分の想っていることをアウトプットして、<br>
      やりたいことを具体化していこう♪
      アウトプットしている記事を参考にして、<br>
      新しい考えも取り入れよう♪
    </p>
  </div>
</header>
<main class="main">
  <div class="sign-up-box">
    <div>
      <p>タイトル</p>
      <input type="text" class="sign-up-box-list" placeholder="タイトルを入力してください">
    </div>
    <div>
      <p>カテゴリー</p>
      <input type="text" class="sign-up-box-list" placeholder="カテゴリーを選択してください">
    </div>
    <div>
      <p>子カテゴリー</p>
      <input type="text" class="sign-up-box-list" placeholder="子カテゴリーを選択してください">
    </div>
    <div>
      <p>My Heart記述欄</p>
      <input type="textarea" class="sign-up-box-list" placeholder="あなたの想いを自由に書いてください">
    </div>
    <div class="button">
      <button class="sign-up-button">確認</button>
    </div>
  </div>
</main>
<footer class="footer">
  <p>著作権とか</p>
</footer>
